html , body {
    height:100%;
    width:100%;
    margin: 0;
    font-family: 'Source Sans Pro';
}
#section-1{
    position:relative;
    background-color: #f3bf1d;
    background-image:url(https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%; 
}

h1{
    margin:0;
    padding-top: 300px;
}
h3{
    font-size:25px;
}
#section-2{
    background-color: white;
    margin:100px 0px;
    padding: 0% 10%;
}
#section-2 h1{
    font-size:2em;
}
#section-2 h3{
    font-size: 1em;
    font-weight:normal;
}
#section-3{
    background-color: #1d809f;
    color:white;
    padding: 100px 0;
}
.icon-container{
    width:250px;
    color:white;
    display: inline-block;
    margin:20px;
    padding: 10px;
}
.icon-container h4{
    font-size: 25px;
}
.circle{
    width: 112px;
    height: 112px;
    border-radius:100%;
    background: white;
    margin: 0 auto;
    display: inline-block;
    color: #1d809f;
}
.circle i{
    font-size: 50px;
    padding-top: 30px;
}
#section-3 h2{
    font-size:2.5em;
    line-height: 0px;
}
#section-3 h6{
    font-size:0.8em;
    margin:0;
    color:#ecb807!important;
    line-height: 0px;
}

#section-4{
    background-image:url(https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-callout.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0.92;
    height:100%;
    width:100%;
    text-align:center;
}
#section-4 h1{
    padding-top: 280px;
    font-size:2.75em;
}
#section-5{
    height:140%;
    width:100%;
    text-align: center;
    margin:0;
    border-spacing: 0;
}
#section-5 h2{
    font-size:2.5em;
    line-height:0;      
}
#section-5 h6{
    font-size:0.8em;
    padding-top:80px;
    margin:0;
    color:#ecb807!important;
    line-height: 0;
}
.box{
    background: #1d809f;
    height: 400px;
    width:550px;
    position: relative;
    overflow: hidden;
}
.box img{
    position:relative;
    transition: opacity 0.75s;
}
.box h5{
    position:absolute;
    bottom: 30px;
    left: 80px;
    text-align: left;
    color: white;
    font-size:1em;
    font-weight:100;
}
.box h4{
    position:absolute;
    bottom: 110px;
    left: 80px;
    text-align: left;
    color: white;
    font-size:0.7em;
    font-weight:bold;
}
.border-box{
    height:100%;
    width:100%;
    position:absolute;    
    top:0;
    left:0;
    border: 0px solid white;
    box-sizing: border-box;
    transition: border 0.25s;
    z-index: 1;   
    border-spacing: 0;
}
.box:hover img{
    opacity: 0.3;
}
.box:hover .border-box{
    border: 30px solid white;
}
#portfolio_animation{
    padding-top:30px;
    padding-left:400px;
    border-spacing: 0;
}
#portfolio_animation td{
    padding:0;
    line-height:35px;
    margin:0;
}
#section-6{
    height:45%;
    width:100%;
    background-color:#1d809f;
    color:white;
    text-align:center;
}
#section-6 h2{
    padding-top:100px;
}
#map{
    height:65%;
    width:100%;
}
footer{
    position:relative;
    height:40%;
    width:100%;
    text-align:center;
    font-size:0.75em;
    font-weight: 50px;
}
footer table{
    margin:0;
    padding-top:75px;
    padding-left:600px;
}
footer td{
    margin:0;
    padding: 15px;
    line-height:60px;
}
#facebook{
    position:absolute;
    top:91px;
    left:640px;
}
#twitter{
    position:absolute;
    top:91px;
    left:728px;
}
#github{
    position:absolute;
    top:91px;
    left:820px;
}